@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 117%;
  font-weight: 400;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-big {
  font-size: 20px;
  line-height: 180%;
}

.button-second {
  background-color: #82b3d3;
}

.button-special {
  background-color: #7db54f;
}

.button-reset {
  background-color: transparent;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 28px;
  margin-bottom: -6px;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  justify-content: flex-end;
  max-width: 250px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user .navigation-link {
  padding: 22px  12px;
  min-width: 20px;
  min-height: 20px;
}

.count {
  font-size: 10px;
  line-height: 100%;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
}

.cta {
  margin-top: 14px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image:
    url("../images/divider.svg"),
    url("../images/index-background.jpg");
  background-color: #333333;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-title {
  width: 620px;
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  width: 650px;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 118%;
    font-weight: 400;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  padding: 112px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:last-child {
flex-direction: row-reverse;
}

.advantages-item .advantages-item-texts {
  padding: 102px 85px;
}

.advantages-item-wide {
  display: flex;
  grid-column: 1 / -1;
}

.advantages-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-wide {
  padding: 0;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-title {
  margin: 0 auto 63px;
  font-size: 24px;
  line-height: 117%;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-wide .advantages-item-title {
  color: #ffffff;
}

.advantages-item-description {
  margin: 0;
}

.features {
  padding-top: 64px;
  text-align: center;
}

.features-title {
  width: 510px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  text-transform: uppercase;
}

.features-description {
  margin: 0 auto 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  padding: 81px 85px;
}

.features-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  margin: 102px auto 30px;
  font-size: 24px;
  line-height: 117%;
  color: #000000;
  text-transform: uppercase;
}

.features-item-description {
  margin: 0;
}

.search {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.search-title {
  width: 510px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  width: 600px;
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 118%;
  font-weight: 400;
}

.newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-position: center;
}

.newsletter-title {
  width: 500px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.newsletter-description {
  width: 500px;
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 118%;
  font-weight: 400;
  text-align: center;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  width: 47px;
  height: 40px;
}

.phone {
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.inner-header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/filter-background.svg");
  background-size: cover;
  background-position: center;
}

.inner-header-title {
  margin: 0 auto 8px 0;
  font-size: 60px;
  line-height: 130%;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 131%;
  color: #ffffff;
}

.filter-title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  text-transform: capitalize;
}

.control {
  line-height: 128%;
}

.catalog {
  padding: 50px 70px;
}

.sorting-container {
  display: flex;
  margin-bottom: 40px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.select-control {
  font-size: 18px;
  line-height: 117%;
  font-weight: 400;
}

.catalog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  padding: 20px;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 4px;
}

.catalog-card-link {
  grid-column: 1 / -1;
}

.catalog-card-image {
  width: 100%;
}

.catalog-card-title {
  margin: 0;
  grid-column: 1 / -1;
  font-size: 24px;
  line-height: 117%;
  color: #000000;
}

.catalog-card-description {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.catalog-card-rating {
  margin: 0;
  text-align: center;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  line-height: 180%;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.main-inner .newsletter {
  color: #333333;
  background-image: none;
  background-color: #ffffff;
}

.main-inner .newsletter-title {
  color: #000000;
}

.main-inner .newsletter-email {
  background-color:  #f2f2f2;
}
